.pickup {
  display: none;

  &__map {
    width: 500px;
    height: 300px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: $medium) {
  .pickup {

    &__map {
      width: 620px;
      height: 310px;
    }
  }
}

@media screen and (max-width: $small) {
  .pickup {

    &__map {
      width: 440px;
      height: 210px;
    }
  }
}
