.pickup {
  display: none;

  &__map {
    width: 500px;
    height: 300px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: $medium) {
  .pickup {

    &__map {
      width: 400px;
      height: 200px;
    }
  }
}

@media screen and (max-width: $small) {
  .pickup {

    &__map {
      width: 280px;
      height: 140px;
    }
  }
}
